<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8" />
		
		<meta
		  content="This is a demo of Web integration  
			of Razorpay in NodeJS"
		  author="Mr. Twinkle Sharma"
		/>
		<title><%=data.header%></title>

		<style>
			#pay-button {
				float: right;
				/* margin-right: 100px; */
			}
			.invoice-box {
				max-width: 800px;
				margin: auto;
				padding: 30px;
				border: 1px solid #eee;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
				font-size: 16px;
				line-height: 24px;
				font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
				color: #555;
			}

			.invoice-box table {
				width: 100%;
				line-height: inherit;
				text-align: left;
			}

			.invoice-box table td {
				padding: 5px;
				vertical-align: top;
			}

			.invoice-box table tr td:nth-child(2) {
				text-align: right;
			}

			.invoice-box table tr.top table td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.top table td.title {
				font-size: 45px;
				line-height: 45px;
				color: #333;
			}

			.invoice-box table tr.information table td {
				padding-bottom: 40px;
			}

			.invoice-box table tr.heading td {
				background: #eee;
				border-bottom: 1px solid #ddd;
				font-weight: bold;
			}

			.invoice-box table tr.details td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.item td {
				border-bottom: 1px solid #eee;
			}

			.invoice-box table tr.item.last td {
				border-bottom: none;
			}

			.invoice-box table tr.total td:nth-child(2) {
				border-top: 2px solid #eee;
				font-weight: bold;
			}

			@media only screen and (max-width: 600px) {
				.invoice-box table tr.top table td {
					width: 100%;
					display: block;
					text-align: center;
				}

				.invoice-box table tr.information table td {
					width: 100%;
					display: block;
					text-align: center;
				}
			}

			/** RTL **/
			.invoice-box.rtl {
				direction: rtl;
				font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
			}

			.invoice-box.rtl table {
				text-align: right;
			}

			.invoice-box.rtl table tr td:nth-child(2) {
				text-align: left;
			}
		</style>
	</head>

	<body>
		<div class="invoice-box">
			<table cellpadding="0" cellspacing="0">
				<tr class="top">
					<td colspan="2">
						<table>
							<tr>
								<td class="title">
									<img src="<%= data.logo %>" style="max-height: 200px;max-width: 200px;  ;" />
								</td>

								<td>
									Invoice ID : <%=data.invoiceID%><br />
									Created: <%=data.curDate%><br />
									Due: <%=data.dueDate%>
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="2">
						<table>
							<tr>
								<td>
									<%=data.name%><br />
									<%= data.companyLocaction%><br>
									
								</td>

								<td>
									<%=data.companyName%><br />
									<%=data.buyerLocaction%><br />
									<%=data.email%>
								</td>
							</tr>
						</table>
					</td>
				</tr>



				<tr class="heading">
					<td>Description</td>

					<td>Price</td>
				</tr>
				<tr class="item">
					<td><%=data.Description%></td>

					<td><%=data.cost%></td>
				</tr>
			
				<tr class="total">
					<td></td>

					<td>Total: <%=data.cost%></td>
				</tr>
			</table>
			<div>
				<span>
					<button id="pay-button" >Pay Now</button>
				  </span>
				  <hr />
				  <!--Inside index.html -->
				  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
				  <script>
					document.getElementById("pay-button").onclick = function (e) {
						  var options = {
							key: 'rzp_test_MBehv3EgTY8ULU',
							amount:  100,
							currency: "INR",
							name: "Dummy Academy",
							description: "Pay & Checkout this Course, Upgrade your DSA Skill",
							image:
							  "https://media.geeksforgeeks.org/wp-content/uploads/20210806114908/dummy-200x200.png",
							order_id: "<%= data.orderid %>",
							//   order_id: "order_MoLLxrlXrcCcTR",
							handler: function (response) {
							//   console.log(response);
							  alert("This step of Payment Succeeded");
							},
							prefill: {
							  //Here we are prefilling random contact
							  contact: "9876543210",
							  //name and email id, so while checkout
							  name: "Twinkle Sharma",
							  email: "smtwinkle@gmail.com",
							},
							notes: {
							  description: "Best Course for SDE placements",
							  language:
								"Available in 4 major Languages JAVA,C/C++, Python, Javascript",
							  access: "This course have Lifetime Access",
							},
							theme: {
							  color: "#2300a3",
							},
						  };
						  var razorpayObject = new Razorpay(options);
						//   console.log(razorpayObject);
						  razorpayObject.on("payment.failed", function (response) {
							// console.log(response);
							alert("This step of Payment Failed");
						  });
						  razorpayObject.open();
						  e.preventDefault();
					   // } else {
					   //   // Error!
					   //   console.log("here :", xhr.statusText);
					   // }
					  // };
					};
				  </script>
			  
	
	
			</div>			
		</div>
		
	</body>
</html>